#base{
    padding: 30px 20px;
    overflow: hidden;
}
.firm-title{
    font-size: 18px;
    padding-left: 7px;
}
.iFind-title{
    font-size: 15px;
}
.iFind-project{
    font-size: 14px;
}
.base-left .menu-sub a{
    line-height: 24px;
}
.base-left .menu-sub a:before{
    top: 12px;
    left: 20px;
}
.base-left .menu-sub a .down-icon{
    top: 9px;
}
.base-left{
    width: 250px;
    padding-top: 20px;
    float: left;
}
.base-right {
    margin: 20px 0 0 250px;
}
.info{
    margin-left: 20px;
}
/* todo ��ѯ*/
.query{
    margin: 15px 0 5px 0;
}
.operate{
    position: relative;
}
.modal{
    background: transparent;
}
.specific-info{
    margin-top: 5px;
}
.form-default .label-authority{
    vertical-align: top;
}
  .authority{
    display: inline-block;
}
.authority>a{
    width: 150px;
}
.organ-form{
    margin: 30px 15px;
}
.th-role{
    width: 150px;
}
.form-group{
    position: relative;
}
.err-popup {
    position: absolute;
    top: 29px;
    left: 124px;
    border: 1px solid #f00;
    background: #fff;
    color: #f00;
    text-align: center;
    padding: 3px 10px;
    border-radius: 2px;
    z-index: 5;
}
/*todo 多选框ʽ*/
.table-check{
    /*width: 5%;*/
}
.check-icon{
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
    outline: 0;
    background: 0 0\9;
    background-image: url(../images/sprites.png);
    -webkit-appearance: none;
    background-position: -72px -195px;
}
.check-icon:checked{
    background-position: -197px -54px;
}