.authority-group{
    height: 220px;
}
.menu-sub li a.organ-title {
    line-height: 27px;
    font-size: 15px;
    font-weight: 600;
}
.menu-sub li a.organ-title  i{
    top: 10px;
}
.oragn-manage li a {
    line-height: 24px;
    padding-left: 20px;
}
.oragn-manage li a:before {
    top: 12px;
    left: 23px;
}
.role-operate {
    background: #fff;
    padding-bottom: 0;
}
.role-operate button{
    margin-right: 20px;
}
