#header{
    height: 60px;
    background: rgba(17,17,17,.9);
    position: relative;
}
.header-list{
    float: right;
    margin-top: 16px;
}
.container{
    width: 1200px;
    margin: auto;
}
#main{
    height: 550px;
    background: url("../images/bg.jpg") no-repeat;
}
.main-wrapper{
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
.left-panel{
    color: #fff;
    padding-top: 55px;
    float: left;
}
.info{

}
.info-list {
    margin-top: 40px;
}
.info-list h1 {
    display: inline-block;
    vertical-align: top;
    border-top: 1px solid #fff;
    font-size: 4em;
    margin-top: -6px;
    padding-top: 10px;
    width: 150px;
}
.info-list h1 span {
    font-size: 22px;
}
.info-list h1 b {
    font-size: 0.8em;
}
.info-list>div {
    display: inline-block;
    margin-top: 10px;
}
.info-list>div h3 {
    font-weight: 500;
    font-size: 1.5em;
}
.info-list>div h2 {
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    margin-top: -2px;
}
.right-login {
    width: 400px;
    height: 311px;
    background: #fff;
    float: right;
    margin-top: 55px;
}
.login-title{
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 16px;
}
.title2{
    text-align: center;
    font-size: 16px;

}
.title2 a{
    color: #3481cf;
    text-decoration: none;
}
.login-form {
    text-align: center;
    padding-top: 30px;
}
.login-input {
    width: 258px;
    position: relative;
    height: 18px;
    padding: 10px 0 10px 10px;
    margin-bottom: 12px;
    color: #333;
    line-height: 18px;
    font-size: 16px;
    font-family: Verdana,Tahoma,Arial;
    border-radius: 3px;
    outline: 0;
    border: 1px solid #ddd;
}
.login-input:focus{
    border-color: #3481cf;
}
.btn-login {
    margin:10px auto;
    display: block;
    width: 258px;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    border: 0;
    font-weight: 400;
    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
    color: #fff;
    background: #86ce2f;
    cursor: pointer;
    padding: 0 5px;
    font-size: 17px;
}
.btn-login:hover{
    text-decoration: none;
}
.login-tips {
    text-align: right;
    padding-right: 15px;
    margin-top: 20px;
}
.login-tips li {
    display: inline-block;
    height: 16px;
}
.foot-list li {
    line-height: 26px;
    padding-left: 10px;
    text-align: left;
}
.border-line {
    margin: 0 5px;
    color: #bfbfbf;
}
/* 尾部*/
#foot{
    margin-top: 44px;
}
.colums {
    display: inline-block;
    width: 22.5%;
    text-align: center;
    margin-bottom: 30px;
    vertical-align:top;
}
.colums h3 {
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 400;
    padding-left: 10px;
    text-align: left;
}
.foot-list li {
    line-height: 26px;
    padding-left: 10px;
}
.foot-list li a {
    font-size: 12px;
    color: #777;
    display: block;
}
.foot-list li a:hover{
    text-decoration: none;
}
.copyright {
    text-align: center;
}
.department {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.department a {
    color: #777;
    padding: 0 5px;
}
.department a:hover{
    color: #3c3c3c;
    text-decoration: none;
}
.links p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}