.form-inline{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    position: relative;
}
.form-inline label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
.form-inline input{
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    border: 1px solid #d1d2d3;
    color: #404a58;
    outline: 0;
    padding: 3px 10px;
    border-radius: 3px;
    vertical-align: middle;
}
.form-inline input:hover,.form-inline select:hover{
    border-color: #2277da;
    outline: 0;
}
.form-inline .select-sex,.form-inline .select-state,.form-inline .select-isable{
    height: 23px;
    line-height: 23px;
    padding: 0px 10px;
    font-size: 12px;
    border: 1px solid #d1d2d3;
    color: #404a58;
    border-radius: 3px;
    outline: 0;
}
#form-textarea{
    display: inline-block;
    border: 1px solid #d1d2d3;
    border-radius: 3px;
    min-height: 50px;
    vertical-align: middle;
    font-size: 14px;
    outline: 0;
    color: #404a58;
    padding: 5px 10px;
    resize: none;
}
#form-textarea:hover{
    border-color: #2277da;
    outline: 0;
}
.table{
    margin-bottom: 10px;
}
.form-inline .select-state{
    display: inline-block;
    width: 168px;
}
.form-inline .select-isable{
    display: inline-block;
    width: 168px;
}
.btn-configure{
    margin-left: 20px;
}
.item-list{
    height: 200px;
    padding-left: 30px;
}
.item-list .sort-tilte{
    width: 150px;

}